<nav class="menu bg-base-300 w-64 h-full p-4 rounded-lg shadow-lg flex-col justify-between">
  <ul class="space-y-2 text-lg">
    <li>
      <a routerLink="/" class="menu-item rounded-md hover:bg-primary hover:text-primary-content transition-colors">
        Home
      </a>
    </li>
    
  </ul>
  <ul class="space-y-2 text-lg">
    <li>
      <a routerLink="/login" class="menu-item rounded-md hover:bg-primary hover:text-primary-content transition-colors">
        Login
      </a>
    </li>
    <li>
      <a routerLink="/signup" class="menu-item rounded-md hover:bg-primary hover:text-primary-content transition-colors">
        Sign Up
      </a>
    </li>
  </ul>
</nav>
